{% extends "base.html" %}

{% block title %}Anmelden{% endblock %}


{% block body %}
<div class="login-wrapper">
  <div class="card_a">
    <h1 class="auth-header">Anmelden</h1>
    <form method="POST">
      <p style="position: flex; justify-content: center;"><input type="email" name="email" placeholder="E-Mail" required></p>
      <div style="position: flex; justify-content: center;">
        <input name="password" type="password" placeholder="Passwort" required>
        <p style="margin-top: -3px; display: flex; justify-content: right; margin-right: 3px;"><a class="link-a" href="/change_password">Passwort vergessen?</a></p>
      </div>
      <p style="display:flex; justify-content: center;"><button class="button" type="submit"><span>Einloggen</span></button></p>
      <p style="display:flex; justify-content: center;">Noch keinen Account? <a class="link-a" href="/register"> Registrieren</a></p>
    </form>
  </div>
</div>
{% endblock %}